:root{
  --cor1: #DB88CA;
  --cor2: #473B45;
  --cor3: #422B3E;
}

header{
  margin-top: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header > h1{
  padding: 15px;
  font-size: 4vh;
  background-color: var(--cor3);
  color: #fff;
}

body{
  background-color: var(--cor2);
  margin: auto;
  text-align: center;
}
main{
  max-width: 80vw;
  background-color: #fff;
  height: 120vw;
  margin: auto;
  border-radius: 20px;
  box-shadow: 3px 3px 8px rgba(0,0,0,0.400)
}
section{
  background-color: var(--cor3);
  text-align: center;
  width: 50vw;
  height: 50vw;
  margin: auto;
  border-radius: 50%;
  box-shadow: 3px 3px 8px rgba(0,0,0,0.400)
  
}
#divbin{
  padding-top: 3vh
}

#bin{
  margin: 16px;
  width: 30vw;
  font-size: 2vh;
  padding: 5px;
  text-align: center
  
}
#msg{
  border: 1px solid black;
  width: 18vh;
  margin: auto;
  background-color: #ffffff;
  padding : 6px;
  font-size: 2vh;
  color: black;
  font-weight: bold
  
}
div > output{
  font-weight: normal;
}
#vai{
  width: 10vh;
  font-size: 1.3vh;
  padding: 0.5vh;
  margin-bottom: 10px;
}
#go{
  padding: 15px;
}

footer{
  padding: 15px;
  color: #fff;
  
}
